name: test

on:
  workflow_dispatch:

jobs:
  list:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: List all files and directories
        run: ls -la
